.footer11 {
    margin-top: 1570px;
    margin-left: -50px;
    width: 2100px;
    height: 160px;
    position: absolute;
    background-color: rgb(228, 228, 228);
}

.vestaft1 {
    margin-left: 430px;
    font-weight: normal;
    font-size: 19px;
    margin-top: 1595px;
    position: absolute;
    color: rgb(147, 147, 147);
}

.line21 {
    margin-top: 1600px;
    margin-left: 570px;
    width: 1px;
    height: 100px;
    position: absolute;
    background-color: rgb(147, 147, 147);
}

.textft11 {
    font-weight: normal;
    font-size: 12px;
    margin-top: 1597px;
    margin-left: 585px;
    position: absolute;
    color: rgb(147, 147, 147);
}

.line31 {
    margin-top: 1600px;
    margin-left: 740px;
    width: 1px;
    height: 100px;
    position: absolute;
    background-color: rgb(147, 147, 147);
}

.textft111 {
    font-weight: normal;
    font-size: 12px;
    margin-top: 1597px;
    margin-left: 756px;
    position: absolute;
    color: rgb(147, 147, 147);
}

.line41 {
    margin-top: 1600px;
    margin-left: 910px;
    width: 1px;
    height: 100px;
    position: absolute;
    background-color: rgb(147, 147, 147);
}

.textft21 {
    font-weight: normal;
    font-size: 12px;
    margin-top: 1597px;
    margin-left: 930px;
    position: absolute;
    color: rgb(147, 147, 147);
}

.textft31 {
    cursor: pointer;
    position: absolute;
    margin-top: 1627px;
    margin-left: 585px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.textft41 {
    cursor: pointer;
    position: absolute;
    margin-top: 1644px;
    margin-left: 585px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.textft51 {
    cursor: pointer;
    position: absolute;
    margin-top: 1660px;
    margin-left: 585px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.textft61 {
    cursor: pointer;
    position: absolute;
    margin-top: 1677px;
    margin-left: 585px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.textft71 {
    position: absolute;
    margin-top: 1627px;
    margin-left: 757px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.textft81 {
    position: absolute;
    margin-top: 1644px;
    margin-left: 756px;
    font-weight: normal;
    font-size: 11px;
    color: rgb(147, 147, 147);
}

.item601 {
    width: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 1630px;
    margin-left: 170px;
}

.item611 {
    width: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 1628px;
    margin-left: 195px;
}

.item621 {
    width: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 1630px;
    margin-left: 220px;
}

.item631 {
    width: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 1630px;
    margin-left: 247px;
}

.freedom {
    
}